<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>submitphoto</servlet-name>
        <servlet-class>servlets.submitphoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImgHandler</servlet-name>
        <servlet-class>servlets.ImgHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>submitphoto</servlet-name>
        <url-pattern>/submitphoto</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>photoGallery</servlet-name>
        <servlet-class>servlets.photoGallery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>photoGallery</servlet-name>
        <url-pattern>/photoGallery</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updatePhoto</servlet-name>
        <servlet-class>servlets.updatePhoto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updatePhoto</servlet-name>
        <url-pattern>/updatePhoto</url-pattern>
    </servlet-mapping>  
    <servlet>
        <servlet-name>updateMessage</servlet-name>
        <servlet-class>servlets.updateMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateMessage</servlet-name>
        <url-pattern>/updateMessage</url-pattern>
    </servlet-mapping>        
    <servlet-mapping>
        <servlet-name>ImgHandler</servlet-name>
        <url-pattern>/ImgHandler</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
